ledger.txt
messages.txt
miner.log
server.log
peers.txt
stats.txt
private_keys.pem
public_keys.pem
!/tests/key_data/private_keys.pem
!/tests/key_data/public_keys.pem
!/tests/chain_data/ledger.txt
.idea/
__pycache__/
*.pyc
*.log
*.gv
*.pdf